/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron{
	background-color: #415E9B;
	color: #fff;
}

.navbar-inverse {
    background-color: #314776;
    border-color: #314776;
}


.formulario td{
	padding:6px;
}

.btn-primary{
	background-color: #253659;
	border-color: #253659;
}